# https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview
http_address="127.0.0.1:4180"

provider="oidc"
provider_display_name="Fredagscafeen Django OIDC Provider"
redirect_url="https://oauth.fredagscafeen.dk/oauth2/callback"

allowed_groups=["*"] # Allow all groups (which is actually django permissions) to set per service permission requirement later.
email_domains=["*"] # Allow all email domains
oidc_audience_claims="aud"
oidc_email_claim="email"
oidc_groups_claim="permissions"

client_secret="<openssl rand -hex 16>"
client_id="traefik-oauth2-proxy"

cookie_name="_oauth2_proxy" # Default cookie name, can be changed if needed.
cookie_secret="<openssl rand -base64 32>"
cookie_secure="true" # Needs to be true when using https
cookie_domains=".fredagscafeen.dk" # Required so cookie can be read on all subdomains.
whitelist_domains=".fredagscafeen.dk" # Required to allow redirection back to original requested target.

# Mandatory option when using oauth2-proxy with traefik
reverse_proxy="true"

# Required for traefik with ForwardAuth and static upstream configuration
upstreams="static://202"

# The following option skip the page requesting the user
# to click on a button to be redirected to the identity provider
# It can be activated only when traefik is not configure with
# the error redirection middleware as this example.
skip_provider_button="true"

# Sets the X-Auth-Request-User/Email/Groups headers to the values returned by the provider.
set_xauthrequest="true"

# Send errors to the info log instead of stderr.
errors_to_info_log="true"

# 1. Disable automatic .well-known discovery lookup completely
skip_oidc_discovery = "true"

# 2. Hardcode the absolute endpoints yourself, forcing HTTPS on the proxy side
oidc_issuer_url="https://fredagscafeen.dk/oauth2"
login_url = "https://fredagscafeen.dk/oauth2/authorize"
redeem_url = "https://fredagscafeen.dk/oauth2/token"
profile_url = "https://fredagscafeen.dk/oauth2/userinfo"
validate_url = "https://fredagscafeen.dk/oauth2/userinfo"
oidc_jwks_url = "https://fredagscafeen.dk/oauth2/certs"

# 3. Skip the validation check on token payloads later
insecure_oidc_skip_issuer_verification = "true"